.jumbotron {
          background-image: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%), url("http://gtorrent.ru/uploads/posts/2019-07/1562680798_9f8c02a34155.png");
          background-size: cover;
          color: white;
      }
        .overflow-multiply {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-height: 20px;
  max-height: 60px;
}